# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/
#directories
data/
wandb/

checkpoints/blip2-medvqa